[submodule "spi_master"]
	path = spi_master
	url = git@github.com:Chisel-blocks/spi_master.git
[submodule "clockgen"]
	path = clockgen
	url = git@github.com:TheSDK-blocks/spi_master.git
[submodule "transceiver"]
	path = transceiver
	url = git@github.com:TheSDK-blocks/spi_master.git
[submodule "receiver"]
	path = receiver
	url = git@github.com:TheSDK-blocks/spi_master.git
